//out: contact.css, compress: true, sourcemap: false

.contact {
  width: 100%; padding: 150px 0;
  overflow: auto; position: relative;
  .coffee-decal {
    position: absolute; top: 0px; right: 0; width: 500px;
    img {
      width: 100%;
    }
  }
  .content {
    width: 500px; margin: auto; text-align: center;
    .subTitle {
      text-transform: uppercase;
      letter-spacing: 4px; font-size: 1.2em;
      font-weight: 400; margin: 0 auto;
    }
    .title {
      font-size: 3.3em;
      margin-top: 0px;
      line-height: 2em;
    }
    .details {
      color: #444; font-size: 1.1em;
      padding: 25px 0;
    }
    .form {
      width: 100%; padding: 20px; box-sizing: border-box;
      .form-input {
        width: 100%; margin-bottom: 35px; font-size: 1em;
        padding: 10px; border: none;
        border-bottom: 1px solid black; font-family: 'Raleway';
      }
      .input-date {
        width: 45%; float: left;
      }
      .button {
        padding: 20px; background-color: #222;
        color: #eee; font-family: 'Raleway';
        font-size: 1em; font-weight: 400;
        letter-spacing: 4px; text-transform: uppercase;
        border: none; width: 100%;
      }
    }
  }
}
